<%- include('../partials/header') %>


<form class="add-form" action="/activities" method="POST">
    <div class="dropdown">
        <p id="activity-p">Please first ensure that the activity is not in the dropdown
            <select class="btn btn-secondary dropdown-toggle">
            <% activities.forEach(function(a) { %>
                <option class="dropdown-item"><%= a.name %></option>
            <% }) %>
            </select>
        </p>
    </div>
    <div class="form-group">
        <label>Activity:</label>
        <input class="form-control" type="text" name="name">
        <input class="btn btn-primary" type="submit" value="Submit"  placeholder="Add Activity">
    </div>    
</form>


<%- include('../partials/footer') %>