<%- include('../partials/header') %>

<form id="new-form" action="/destinations" method="POST">
  <label>Destination:</label>
  <input type="text" name="place">  
  <!-- <label>Image:</label>
  <input type="text"> -->
  <label>Description:</label>
  <input type="text" name="description">
  <input type="submit" value="Add Destination"><br><br>
  <!-- add destinations and drop down here -->
</form>

<%- include('../partials/footer') %>